* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  scroll-behavior: smooth;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root {
  --bg-color: #200829;
  --second-bg-color: #100414;
  --text-color: #ededed;
  --main-color: #a400f0;
  --hover: #a400f017;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
}

section {
  min-height: 100vh;
  min-width: 100%;
}
